<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>reg</title>
</head>
<body>

<form action="register" method="post">
    {% csrf_token %}
    <input  type="number"  name="id" placeholder="id" hidden>

    <input  type="text"  name="first_name" placeholder="first_name">
    <input  type="text"  name="last_name" placeholder="last_name">
    <input  type="text"  name="username" placeholder="username">
    <input   type="email"   name="email" placeholder="email">
    <input   type="password" name="password1" placeholder="password1">
    <input   type="password" name="password2" placeholder="password2">
    <input   type="text" name="stuts" placeholder="stuts" value="techer" readonly>
    <input type="number" name="phonenumber" placeholder="phonenumber">

    <button type="submit" >reg</button>
</form>

</body>
</html>