<!DOCTYPE html>
<html lang="en">
{%load static%}
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>SB Admin - Start Bootstrap Template</title>
  <!-- Bootstrap core CSS-->
  <link href="{%static 'ss/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="{%static 'ss/vendor/font-awesome/css/font-awesome.min.css'%}" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template-->
  <link href="{%static 'ss/css/sb-admin.css'%}" rel="stylesheet">
</head>

<body class="bg-dark">
  <div class="container">
    <div class="card card-register mx-auto mt-5">
      <div class="card-header">تحديث بيانات طالب </div>
      <div class="card-body">
        <form method="post" action="{% url 'update' new.id%}" >
	{% csrf_token %}
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label for="exampleInputName">:الاسم الاول</label>
                <input class="form-control"  name="first_name" id="exampleInputName" type="text" aria-describedby="nameHelp" placeholder="الاسم الاول" value="{{ new.user.first_name }}">
              </div>
              <div class="col-md-6">
                <label for="exampleInputLastName">:الاسم الاخير</label>
                <input class="form-control"  name="last_name" id="exampleInputLastName" type="text" aria-describedby="nameHelp" placeholder="الاسم الاخير" value="{{ new.user.last_name }}">
              </div>
            </div>
          </div>
<div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label for="exampleInputName">:اسم المستخدم</label>
                <input class="form-control"  name="username" id="exampleInputName" type="text" aria-describedby="nameHelp" placeholder="اسم المستخدم" value="{{ new.user.username }}">
              </div>
              <div class="col-md-6">
                <label for="exampleInputLastName">:رقم الهاتف</label>
                <input class="form-control"  name="phonenumber" id="exampleInputLastName" type="number" aria-describedby="nameHelp" placeholder="رقم الهاتف" value="{{new.phonenumber}}">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">:الايميل</label>
            <input class="form-control"  name="email" id="exampleInputEmail1" type="email" aria-describedby="emailHelp" placeholder="الايميل" value={{ new.user.email }}>
          </div>
          

<button class="btn btn-primary btn-block" type="submit">تحديث البيانات</button>
         
        </form>
        <div class="text-center">
          <a href="{% url 'tech' new.techer.id%}">العودة الى القائمة الرئيسية</a>
          
        </div>
      </div>
    </div>
  </div>
  <!-- Bootstrap core JavaScript-->
  <script src="{%static 'ss/vendor/jquery/jquery.min.js'%}"></script>
  <script src="{%static 'ss/vendor/bootstrap/js/bootstrap.bundle.min.js'%}}"></script>
  <!-- Core plugin JavaScript-->
  <script src="{%static 'ss/vendor/jquery-easing/jquery.easing.min.js'%}"></script>
</body>

</html>
