<!DOCTYPE html>
<html lang="en">
{% load static %}


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="{%static 'plugins/images/favicon.png'%}">
    <title>صفحة المعلم</title>
    <!-- Bootstrap Core CSS -->
    <link href="{%static 'plugins/bootstrap/dist/css/bootstrap.min.css'%}" rel="stylesheet">
    <!-- Menu CSS -->
    <link href="{%static 'plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.css'%}" rel="stylesheet">
    <!-- toast CSS -->
    <link href="{%static 'plugins/bower_components/toast-master/css/jquery.toast.css'%}" rel="stylesheet">
    <!-- morris CSS -->
    <link href="{%static 'plugins/bower_components/morrisjs/morris.css'%}" rel="stylesheet">
    <!-- chartist CSS -->
    <link href="{%static 'plugins/bower_components/chartist-js/dist/chartist.min.css'%}" rel="stylesheet">
    <link href="{%static 'plugins/bower_components/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css'%}" rel="stylesheet">
    <!-- animation CSS -->
    <link href="{%static 'plugins/css/animate.css'%}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{%static 'plugins/css/style.css'%}" rel="stylesheet">
    <!-- color CSS -->
    <link href="{%static 'plugins/css/colors/default.css'%}" id="theme" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body class="fix-header">

  <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>
    <!-- ============================================================== -->
    <!-- Wrapper -->

    <!-- ============================================================== -->
    <div id="wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <nav class="navbar navbar-default navbar-static-top m-b-0">
            <div class="navbar-header">
                <div class="top-left-part">

                    <!-- Logo -->
                    <a class="logo" href="{% url 'tech' user.id%}">
                        <!-- Logo icon image, you can use font-icon also -->
                        <b>
                            <!--This is dark logo icon-->
                            <img src="{%static 'plugins/images/admin-logo.png'%}" alt="home" class="dark-logo" />
                            <!--This is light logo icon-->
                            <img src="{%static 'plugins/images/admin-logo-dark.png'%}" alt="home" class="light-logo" />
                        </b>
                        <!-- Logo text image you can use text also -->
                        <span class="hidden-xs">
                            <!--This is dark logo text-->
                            <img src="{%static 'plugins/images/admin-text.png'%}" alt="home" class="dark-logo" />
                            <!--This is light logo text-->
                            <img src="{%static 'plugins/images/admin-text-dark.png'%}" alt="home" class="light-logo" />
                        </span>
                    </a>
                </div>
                <!-- /Logo -->
                <ul class="nav navbar-top-links navbar-right pull-right">
                    <li>
                        <a class="nav-toggler open-close waves-effect waves-light hidden-md hidden-lg" href="javascript:void(0)"><i class="fa fa-bars"></i></a>
                    </li>
                    <li>
                        <form role="search" class="app-search hidden-sm hidden-xs m-r-10"  method="post" action="searchadmin">
                             {% csrf_token %}
                            <input type="text" placeholder="...البحث عن طالب " class="form-control" name="ss1">

                            <button  type="submit">
                                <i class="fa fa-search" ></i>
                            </button>

                        </form>
                    </li>
                    <li>
                        <a class="profile-pic" href="/accounts/logout"> <i class="fa fa-user" aria-hidden="true"></i>{{ user.username }}</b></a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-header -->
            <!-- /.navbar-top-links -->
            <!-- /.navbar-static-side -->
        </nav>
        <!-- End Top Navigation -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav slimscrollsidebar">

                <ul class="nav" id="side-menu">
                    <li style="padding: 70px 0 0;">
                        <a href="{% url 'tech' user.id%}" class="waves-effect"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i>الصفحة الرئيسية</a>
                    </li>
                      <li>
                        <a href="{% url 'register12' user.id%}" class="waves-effect"><i class="fa fa-user fa-fw" aria-hidden="true"></i>اضافة طالب</a>
                    </li>
                       <li>
                        <a href="{% url 'trans' user.id %}" class="waves-effect"><i class="fa fa-reply" aria-hidden="true"></i>تحويل طالب الى معلم اخر</a>
                    </li>
                      <li>
                        <a href="{% url 'displaystd' user.id%}" class="waves-effect"><i class="fa fa-table fa-fw"
                                aria-hidden="true"></i>عرض الطلاب</a>
                    </li>
                       <li>
                        <a href="{% url 'testsandmarks' user.id%}" class="waves-effect"><i class="fa fa-calendar" aria-hidden="true"></i>
التقييمات والاختبارات</a>
                    </li>
                    <li>
                     <a href="{% url 'displaystdrate' user.id%}" class="waves-effect"><i class="fa fa-table fa-fw"
                                aria-hidden="true"></i>عرض تقييم حسب التاريخ</a>
                    </li>
                       <li>
                        <a href="{% url 'attendece' user.id%}" class="waves-effect"><i class="fa fa-calendar-times-o" aria-hidden="true"></i>
الغياب</a>
                    </li>
                         <li>
                     <a href="{% url 'displaystd' user.id%}" class="waves-effect"><i class="fa fa-table fa-fw"
                                aria-hidden="true"></i>عرض الغياب حسب التاريخ</a>
                    </li>




            </div>

        </div>
        <!-- ============================================================== -->
        <!-- End Left Sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page Content -->
        <!-- ============================================================== -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row bg-title">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h1 class="page-title">الصفحة الرئيسية</h1> </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">

                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
                <!-- ============================================================== -->
                <!-- Different data widgets -->
                <!-- ============================================================== -->
                <!-- .row -->
                <div class="row">
                    <div class="col-lg-4 col-sm-6 col-xs-12">
                        <div class="white-box analytics-info">
                            <h4 class="box-title">عدد الطلاب</h4>
                            <ul class="list-inline two-part">
                                <li>
                                    <div id="sparklinedash"></div>
                                </li>
                                <li class="text-right"><i class="ti-arrow-up text-success"></i> <span class="counter text-success">{{ countofstd }}</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-xs-12">
                        <div class="white-box analytics-info">
                            <h3 class="box-title">عدد الرسائل</h3>
                            <ul class="list-inline two-part">
                                <li>
                                    <div id="sparklinedash2"></div>
                                </li>
                                <li class="text-right"><i class="ti-arrow-up text-purple"></i> <span class="counter text-purple">7</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-xs-12">

                    </div>
                </div>
                <!--/.row -->
                <!--row -->
                <!-- /.row -->
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">

                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- table -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12">

                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- chat-listing & recent comments -->
                <!-- ============================================================== -->
                <div class="row">
                    <!-- .col -->
                    <div class="col-md-12 col-lg-8 col-sm-12">


                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="panel">


                        </div>
                    </div>
                    <!-- /.col -->
                </div>
            </div>

            <!-- /.container-fluid -->
            <footer class="footer text-center"> 2020 &copy;  Monther AL-Jodeh</footer>
        </div>

        <!-- ============================================================== -->
        <!-- End Page Content -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
 <script src="{%static 'plugins/bower_components/jquery/dist/jquery.min.js'%}"></script>
    <!-- Bootstrap Core JavaScript -->
   <script src="{%static 'plugins/bootstrap/dist/js/bootstrap.min.js'%}"></script>
    <!-- Menu Plugin JavaScript -->
   <script src="{%static 'plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js'%}"></script>
    <!--slimscroll JavaScript -->
    <script src="{%static 'plugins/js/jquery.slimscroll.js'%}"></script>
    <!--Wave Effects -->
    <script src="{%static 'plugins/js/waves.js'%}"></script>
    <!--Counter js -->
    <script src="{%static 'plugins/bower_components/waypoints/lib/jquery.waypoints.js'%}"></script>
   <script src="{%static 'plugins/bower_components/counterup/jquery.counterup.min.js'%}"></script>
    <!-- chartist chart -->
   <script src="{%static 'plugins/bower_components/chartist-js/dist/chartist.min.js'%}"></script>
   <script src="{%static 'plugins/bower_components/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.min.js'%}"></script>
    <!-- Sparkline chart JavaScript -->
   <script src="{%static 'plugins/bower_components/jquery-sparkline/jquery.sparkline.min.js'%}"></script>
    <!-- Custom Theme JavaScript -->
    <script src="{%static 'plugins/js/custom.min.js'%}"></script>
    <script src="{%static 'plugins/js/dashboard1.js'%}"></script>
    <script src="{%static 'plugins/bower_components/toast-master/js/jquery.toast.js'%}"></script>

</body>

</html>
